<div class="container w-50 mt-3 border rounded bg-light pb-3 pt-2">
  <h1>New task</h1>
  <%= form_for(task) do |t| %>
    <div class="form-group">
      <%= t.label :title %>
      <%= t.text_field :title, class: 'form-control' %></br>
    </div>
    <div class="form-group">
      <%= t.label :details %>
      <%= t.text_area :details, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%if t.object.new_record? == false%>
        <%= t.check_box :completed %>
        <%= t.label :completed %>
      <% end %>
    </div>
      <%= t.submit class: 'btn btn-primary' %>
  <% end %>
</div>
